body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: #333;
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}


/* Container */
.container {
  width:100%;
  max-width: 1200px;
  margin: 0 auto;    
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   width: 100%;
   height: 100vh; 
   background: url(images/intro.jpg) center no-repeat;
   background-size: cover;
   
}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    
    margin-bottom: 10px;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;

}

/*Header*/
.header{
    padding-top: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
            
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link.active {
    color:#fce38a;
}


.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}


.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

/*Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: backgroung .1s linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}



/*Slider */
.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
 
.slider_item{
    width: 23%;
    padding: 20px 0;
    position: relative;


    border-top: 3px solid #fff;
    opacity: .7;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider_number {
    font-size: 24px;
    font-weight: 700;
}

.slider_number.active {
    opacity: 1;
}

.slider_number.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}